@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*{
    font-family: 'Rowdies', monospace;
    padding: 0%;
    margin: 0%;
}

body{
    padding: 0%;
    background-color: #1c1cbb;
    color: white;
}

#altura{
    width: 90px;
    height: 40px;
    font-size: 24px;
    margin-left: 15px;
}
#largura{
    width: 90px;
    height: 40px;
    font-size: 24px;

    margin-left: 4px;
}

body{
    background-image: url(images/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

p{
    font-size: 22px;
    background-color: white;
    padding: 5px;
    color: black;
    width: 100%;
    margin: auto;
    min-width: 350px;
    text-align: center;
}


span#teste{
    margin-top: 20px;
}

.confirm{
    font-size: 18px;
    width: 31.5%;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
    margin: auto;
}

select#tipoDeServ{
    width: 155px;
    font-size: 0.8em;
}

#space{
    margin: 3px;
}

#qserv{
    font-size: 0.8em;
    position: relative;
}

footer{
    margin-top: 8px;
    text-align: center;
}

footer > a{
    padding: 2px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.788);
    text-decoration: none;
    color: white;
    transition-duration: .5s;
}

footer > a:hover{
    background-color: white;
    color: #223F43;
}

#proj{
    margin: 0px 20px;
}