@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

*{
    font-family: 'Rowdies', monospace;
    padding: 0%;
    margin: 0%;
}

body{
    padding: 0%;
    background-color: #1c1cbb;
    color: white;
    background-image: url(../images/fundo.jpg);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

main{
    background-color: white;
    width: 60%;
    margin: auto;
    border-radius: 0px 0px 20px 20px;
    min-width: 350px;
}

#altura{
    width:12%;
    height: 40px;
    font-size: 24px;
    margin-left: 15px;
}
#largura{
    width:12%;
    height: 40px;
    font-size: 24px;
    margin-left: 4px;
}

#qtdVidros{
    width: 12%;
    height: 40px;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 15px;
}

p{
    font-size: 1.5rem;
    padding: 5px;
    color: black;
    width: 100%;
    margin: auto;
    min-width: 350px;
    text-align: center;
}


span#teste{
    margin-top: 20px;
}

.confirm{
    font-size: 18px;
    width: 31.5%;
    cursor: pointer;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.61);
    margin: auto;
    border-radius: 10px;
    transition-duration: .5s;
    margin-bottom: 5px
}

.confirm:hover{
    background-color: #223F43;
    color: white;
}

footer{
    margin-top: 8px;
    text-align: center;
}

footer > a{
    padding: 2px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.788);
    text-decoration: none;
    color: white;
    transition-duration: .5s;
}

footer > a:hover{
    background-color: white;
    color: #223F43;
}